*{
	margin:0px;
	padding:0px;
}
nav {
  --duration: .5s;
  --easing: ease-in-out;
  position: relative;
  width: 400px;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  font-family: 'Karla';
  font-weight: 20px;
}
nav ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
nav li {
  margin: -4px 0 0 0;
}
nav a {
  color: #000000;
  display: block;
  text-decoration: none;
  background: #fff;
  transform-origin: 80% 50%;
  transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
  transition-delay: var(--delay-out);
  border-radius: 4px;
  padding: 1em 1.52em;
}
nav a:hover {
  background: #1A1A1D;
  color: white;
}
nav header {
  font-weight: 600;
  display: block;
  background: #1A1A1D;
  color: white;
  transform-origin: 80% 50%;
  transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
  transition-delay: var(--delay-out);
  border-radius: 4px;
  padding: 1em 1.52em;
}
nav header span {
  border: none;
  background: transparent;
  font-size: 1.5em;
  padding: 0;
  cursor: pointer;
  line-height: 1;
  float: right;
}
nav footer button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  padding: calc(1em - 2px);
  width: 100%;
  transform-origin: 80% 50%;
  transition: transform var(--duration) var(--easing);
  transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
  cursor: pointer;
  outline: none;
  background: #cdcdcd;
  opacity: 0;
}
nav.closed a,
nav.closed header {
  transform: translateY(calc(var(--top) * -1)) scaleY(0.1) scaleX(0.1);
  transition-delay: var(--delay-in);
  color: transparent;
}
nav.closed footer button {
  transition-delay: 0s;
  transform: scaleY(1.5) scaleX(0.2);
}
.logo{
  font-family: 'Abril Fatface';	
	padding: 15px 10px;
  margin-left: 40px;
	float: left;
	color: white;
}
.header{
	width: 100%;
	height: 70px;
	background-color: #1A1A1D;
}
.backimg{
	width: 100%;
	height: 620px;
	background-image: url(albertimg.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}
.header:hover{
	opacity: 1;
}
.sticky {
	opacity: 1;
  position: fixed;
  background-color: #1A1A1D;
  top: 0;
  width: 100%;
}
.sticky + .content {
  	padding-top: 50px;
}
#b1 img{
	margin-top: 20px;
	padding: 20px 30px;
}
.para {
	margin-top: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Karla', sans-serif;
}
.tina table tr th {
	padding: 10px;
}

.link ul li{
	width: 200px;
	height: 50px;
	display: inline-block;
	transition: width 2s, height 4s;
}
.link ul li a{
	text-decoration: none;
	color:  #000000 ;
	padding: 5px 10px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-size: 15px;
	line-height: 30px;
	margin-left: 5px;
}
.link ul li:hover{
	background-color: #000000;
	width: 500px;
	height: 500px;
}
.link ul li a:hover{
	color:  #e59866 ;
}