*{
	margin:0px;
	padding:0px;
}
.logo{
	font-family: 'Pacifico', cursive;
	padding: 10px 10px;
	margin-left: 10px;
	float: left;
	color: white;
}
.header{
	width: 100%;
	height: 70px;
	background-color: #1A1A1D;
	opacity: 0.5;
}
.menu{
	width: 100%;
	height: 620px;
	background-image: url(albertimg.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}
.header ul li{
	display: inline-block;
	float: right;
}
.header:hover{
	opacity: 1;
}
.header ul li a{
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-size: 15px;
	line-height: 70px;
	margin-right: 30px;
	font-family: 'Karla', sans-serif;
}
.header ul li a:hover{
	background-color: white;
	color:  black ;
}
.sticky {
	opacity: 1;
  position: fixed;
  background-color: #1A1A1D;
  top: 0;
  width: 100%;
}
.sticky + .content {
  	padding-top: 50px;
}
#b1 img{
	margin-top: 20px;
	padding: 20px 30px;
}
.para {
	margin-top: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Karla', sans-serif;
}
.tina table tr th {
	padding: 10px;
}

.link ul li{
	width: 200px;
	height: 50px;
	display: inline-block;
	transition: width 2s, height 4s;
}
.link ul li a{
	text-decoration: none;
	color:  #000000 ;
	padding: 5px 10px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-size: 15px;
	line-height: 30px;
	margin-left: 5px;
}
.link ul li:hover{
	background-color: #000000;
	width: 500px;
	height: 500px;
}
.link ul li a:hover{
	color:  #e59866 ;
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  *{
	margin:0px;
	padding:0px;
}
.logo{
	font-family: 'Pacifico', cursive;
	padding: 10px 10px;
	margin-left: 10px;
	font-size: 15px;
	float: left;
	color: white;
}
.header{
	width: 100%;
	height: 40px;
	background-color: #1A1A1D;
	opacity: 0.5;
}
.menu{
	width: 100%;
	height: 300px;
	background-image: url(albertimg.jpg);
	background-size: 100% 50%;
	background-attachment: fixed;
}
.header ul li{
	display: inline-block;
	float: right;
}
.header:hover{
	opacity: 1;
}
.header ul li a{
	text-decoration: none;
	color: white;
	padding: 8px 10px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-size: 8px;
	line-height: 40px;
	margin-right: 5px;
	font-family: 'Karla', sans-serif;
}
.header ul li a:hover{
	background-color: white;
	color:  black ;
}
.sticky {
	opacity: 1;
  position: fixed;
  background-color: #1A1A1D;
  top: 0;
  width: 100%;
}
.sticky + .content {
  	padding-top: 50px;
}
#b1 img{
	height: 40%;
	width: 40%;
	margin-top: 20px;
	padding: 20px 30px;
}
.para {
	margin-top: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Karla', sans-serif;
}
.tina table tr th {
	padding: 10px;
}

.link ul li{
	width: 200px;
	height: 50px;
	display: inline-block;
}
.link ul li a{
	text-decoration: none;
	color:  #000000 ;
	padding: 5px 10px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-size: 15px;
	line-height: 30px;
	margin-left: 5px;
}
.link ul li a:hover{
	background-color: #000000;
	color:  #e59866 ;
}
}
